@import url('https://fonts.googleapis.com/css2?family=Mr+Dafoe&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chicle&family=Piedra&display=swap');


  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  
  .modal {
    background: #ffffff;
    border-radius: 0.5em;
    box-shadow: 0 10px 20px rgba(black, 0.2);
    left: 50%;
    max-width: 90%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30em;
    text-align: left;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
  }
  
  .modal .details-modal-title {
    color: #111827;
    padding: 1.5em 2em;
    pointer-events: all;
    position: relative;
    width: calc(100% - 4.5em);
  
    h1.retro {
      font-size: 2.25rem;
      font-weight: 700;
      line-height: normal;
    }
  }
  
  .details-modal-content {
    height: 50%;
    border-top: 5px solid #e0e0e0;
    padding: 2em;
    pointer-events: all;
    overflow: auto;
  }
  
  #closeStatInfo {
    text-align: center;
    position: relative;
    font-size: 110%;
    left: 115%;
    color: darkred;
    transition: 30s;
    display: block;
    width: 3vw;
    height: 3vh;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: 0.4s;
  }
  
  #closeStatInfo:hover {
    color: green;
    text-shadow: indigo 5px 10px 15px;
  }
  
  .statLi {
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
    width: 100%;
    height: 50%;
    color: black;
  }

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: radial-gradient(rgba(#7600bf, 0.5) 0%, transparent 70%), linear-gradient(#0b161e 40%, #202076 70%);
  perspective: 700px;
  font-size: clamp(10px, 2vw, 20px);
}

.lines {
  $color: #59c1fe;
  position: fixed;
  width: 100vw;
  height: 4em;
  background: linear-gradient(rgba($color, 0.2) 20%, $color 40%, $color 60%, rgba($color, 0.2) 80%);
  background-size: 1px 0.5em;
  box-shadow: 0 0 1em rgba($color, 0.4);
  transform: translateY(-1em);
  left: 0;
}

h1.retro {
  position: relative;
  font-family: 'Exo';
  font-size: 9em;
  margin: 0;
  transform: skew(-15deg);
  letter-spacing: 0.03em;
  
  &::after {
    content: '';
    position: absolute;
    top: -0.1em;
    right: 0.05em;
    width: 0.4em;
    height: 0.4em;
    background: 
      radial-gradient(white 3%, rgba(white, 0.3) 15%, rgba(white, 0.05) 60%, transparent 80%),
      radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 5% 100%,
      radial-gradient(rgba(white, 0.2) 50%, transparent 60%) 50% 50% / 70% 5%;
    background-repeat: no-repeat;
  }
  
  span.textDesign:first-child {
    display: block;
    text-shadow: 0 0 0.1em #8ba2d0, 0 0 0.2em black,  0 0 5em #165ff3;
    -webkit-text-stroke: 0.06em rgba(black, 0.5);
  }
  
  span.textDesign:last-child {
    position: absolute;
    left: 0;
    top: 0;
    background-image: linear-gradient(#032d50 25%, #00a1ef 35%, white 50%, #20125f 50%, #8313e7 55%, #ff61af 75%);
    -webkit-text-stroke: 0.01em #94a0b9;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

h2 {
  font-family: 'chicle';
  margin: 0;
  font-size: 4.7em;
  margin-top: -0.6em;
  color: white;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
  transform: rotate(-7deg);
}

h3 {
  font-family: 'chicle';
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em black, 0 0 0.3em black;
  font-size: 2.5rem;
  margin-top: -0.4em;
  transform: rotate(-5deg);
}

h4 {
  font-family: 'chicle';
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em black, 0 0 0.3em black;
  font-size: 2rem;
  color:blue;
}

.grid {
  $main: #7d41e6;
  $glow: rgba(#2e26ff, 0.4);
  background: 
    linear-gradient(transparent 65%, $glow 75%, $main 80%, $glow 85%, transparent 95%),
    linear-gradient(90deg, transparent 65%, $glow 75%, $main 80%, $glow 85%, transparent 95%);
  background-size: 30px 30px;
  width: 200vw;
  height: 300vh;
  position: absolute;
  bottom: -120vh;
  transform: rotateX(-100deg);
  -webkit-mask-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0) 80%);
}

.green {
  background-color: rgb(75, 135, 71);
  box-shadow: 0px 0px 0px 1px rgb(75, 135, 71),
              inset 0px 0px 0px 1px rgb(75, 135, 71),
              0px 2px 0px 2px rgb(85, 134, 82);
}
.green:active {
  background-color: rgb(54, 138, 48);
  box-shadow: 0px 0px 0px 1px rgb(54, 138, 48),
              inset 0px 0px 0px 1px rgb(54, 138, 48),
              0px 1px 0px 2px rgb(64, 137, 60);
}

.retro-button-filled {
  transform: rotate(-7deg);
  padding: 0.4rem;
  margin: 1rem;
  outline: none;
  border: 3px solid white;
  border-radius: 0.3em;
  color: white;
  font-family: "chicle";
  font-size: 2.6em;
  font-weight: 700;
  cursor: pointer;
}

#urlInput {
  transform: rotate(7deg);
  padding: 0.4rem;
  margin: 1rem;
  outline: none;
  border: 3px solid white;
  border-radius: 0.3em;
  color: ffffff;
  font-family: "chicle";
  font-size: 2.6em;
  font-weight: 700;
}
